/**GENERAL STYLES **/
@font-face {
font-family: 'Bariol Regular';
font-style: normal;
src: local('Bariol Regular'), url('bariol-regular-2-cufonfonts-webfont/Bariol_Regular_0.woff') format('woff');
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: "Bariol", Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
}

/** HEADER SECTION STYLES **/

header {
	width: 100%;
	height: 140px;
	display: inline-flex;
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	background-color: #380089;
	align-items: center;
	transition: all 350ms ease-out;
	z-index: 99;
}

.donut-title {
	width: 30%;
	margin-left: 70px;
}

.donut-logo > svg {
	width: 180px;
}

nav {
	width: 70%;
	color: rgba(255, 255, 255, 0.75);
	display: inline;
	font-size: 14px;
}

.nav-main-menu {
	display: flex;
	justify-content: flex-end;
	margin-right: 70px;
}

ul, li {
	list-style-type: none;
	display: block;
}

.nav-main-menu-item {
	position: relative;
	padding: 13px 14px;
	cursor: pointer;
	white-space: nowrap;
}

.nav-main-menu-link {
	text-decoration: none;
	color: #fff;
}

.nav-main-menu-item:hover .nav-sub-menu {
	display: block;
}

.nav-main-menu-item i {
	vertical-align: text-top;
}

.sign-in {
	width: 80px;
	height: 40px;
	font-weight: 800;
	color: #fff;
	background-color: rgba(225, 217, 237, 0.2);
	border-radius: 5px;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-top: 2px;
}

.hamburger-icon {
	display: none;
	font-size: 2rem;
}

.nav-sub-menu {
	display: none;
	position: absolute;
	top: 40px;
	background-color: #fff;
	border-radius: 5px;
	width: auto;
}

.nav-sub-menu-link {
	color: #380089;
}

.nav-sub-menu:before {
	content: '';
	position: absolute;
	top: -27px;
	left: 60%;
	width: 0;
	height: 0;
	border: 8px solid transparent;
	border-bottom-color: #fff;
	border-top: 0;
	margin-left: -20px;
	margin-top: 20px;
}

.nav-sub-menu li {
	padding: 10px 15px;
	white-space: nowrap;
}

.nav-sub-menu li:hover {
	background-color: rgba(225, 217, 237, 0.5);
	cursor: pointer;
}

.nav-sub-menu li:hover a {
	color: #7F50FF;
}

.nav-sub-menu li a:link {
	color: #380089;
	text-decoration: none;
}

.onboarding {
	left: -40%;
}

.development {
	left: -10%;
}

/** MAIN SECTION STYLES **/
main {
	position: static;
	display: flex;
	flex-direction: column;
	width: 100vw;
}

/** DESCRIPTION SECTION STYLES **/
.description-container {
	width: 100vw;
	height: auto;
	min-height: 680px;
	background-color: #380089;
	display: flex;
}

.description {
	width: 100%;
	height: 80%;
	padding: 40px 0px 0px 70px;
}

.description-text {
	width: 100%;
	color: #fff;
	font-weight: 100;
	font-size: 5rem;
	line-height: 1.1;
}

.slack-button img {
	width: 215px;
	height: 60px;
	border-radius: 5px;
	margin-top: 20px;
}

.description-img {
	z-index: 0;
	padding-right: 120px;
	align-self: flex-end;
}

/** COMPANY LOGO(SPONSORS) SECTION STYLES **/
.company-logo {
	padding: 60px 0;
	background: hsl(210, 14%, 95%);
}
.logo-container {
	width:100%;
	max-width: 1180px;
	padding-left: 20px;
	padding-right: 20px;
	margin: 0 auto;
}

.logo-list {
	display: flex;
	flex-flow: wrap;
	-webkit-box-align: center;
	align-items: center;
	justify-content: center;

}

.logo-item {
	max-height: 150px;
	width: auto;
	text-align: center;
	padding : 20px 20px;
}

.logo-image {
	height: 50px;
	max-width: 100%;
	vertical-align: top;
}

/** FEATURES SECTION STYLES **/
.features {
	height: auto;
}
.feature_cycle_container {
	padding: 100px 50px;
}

.donut-cycle_chart {
	position: relative;
}
.donut-cycle_chart_img {
	width: 100%;
	height: 100%;
	margin-left: 20%;
}
.donut-cycle_chart_img svg {
	margin: auto;
	width: 60%;
}
.donut-cycle__step-general {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
}
.donut-cycle__step {
	width: 300px;
	font-size: 1.25rem;
}

.donut-cycle__step h4 {
	color: #380089;
	margin-bottom: 10px;
	font-size: 2rem;
	font-weight: 600;
}
.donut-cycle__step p {
	color: #380089;
	margin-bottom: 10px;
	font-size: 1.5rem;
	font-weight: 200;
}
.donut-cycle__step:nth-child(1) {
	position: absolute;
	top: 0;
	right: 0;
}
.donut-cycle__step:nth-child(2) {
	position: absolute;
	bottom: 20px;
	right: 0;
}
.donut-cycle__step:nth-child(3) {
	position: absolute;
	bottom: 20px;
	left: 0;
}
.donut-cycle__step:nth-child(4) {
	position: absolute;
	top: 0;
	left: 0;
}
.donut-cycle__step-link {
	font-weight: 600;
}
.donut-cycle__step-link .fas {
	vertical-align: text-bottom;
	font-weight: 600;
}


/** TESTIMONIAL SECTION STYLES **/

.testimonials {
	height: 470px;
	background-color: #fff;
	display: flex;
	justify-content: center;
	padding: 50px 20px;
}

.testimonial-card {
	position: relative;
	width: calc(33.333% - 40px);
	background-color: rgba(227, 229, 231, 0.25);
	border-radius: 10px;
	margin: 10px;
	padding: 20px;
}

.testimonial-text {
	width: 90%;
	position: absolute;
	top: 20px;
	text-overflow: wrap;
	white-space: wrap;
	font-size: 1.5rem;
	font-weight: bold;
	color: #380089;
}


.testimonial-person {
	display: flex;
	position: absolute;
	bottom: 20px;
	width: 90%;
}

.testimonial-person-picture {
	margin: 0;
}

.testimonial-person-picture img {
	width: 90px;
	border-radius: 50%;
	margin-right: 10px;
}

.testimonial-person-info {
	margin: 5px;
	font-size: 1.2rem;
	color: #808080;
}

.testimonial-card {
	position: relative;
	width: calc(33.333% - 40px);
	background-color: rgba(227, 229, 231, 0.25);
	border-radius: 10px;
	margin: 10px;
	padding: 20px;
}

.testimonial-text {
	width: 90%;
	position: absolute;
	top: 20px;
	text-overflow: wrap;
	white-space: wrap;
	font-size: 1.5rem;
	font-weight: bold;
	color: #380089;
}

.testimonial-person {
	display: flex;
	position: absolute;
	bottom: 20px;
	width: 90%;
}

.testimonial-person-picture {
	margin: 0;
}

.testimonial-person-picture img {
	width: 90px;
	border-radius: 50%;
	margin-right: 10px;
}

.testimonial-person-info {
	margin: 5px;
	font-size: 1.2rem;
	color: #808080;
}


/** PRE-FOOTER IMAGE**/
.pre-footer {
	background-size: auto 100%;
	background-image: url("images/pre-footer-image.svg");
	background-repeat: repeat-x;
	margin-top: 40px;
	height: 236px;
	width: 100vw;
}


/** FOOTER SECTION STYLES **/
footer {
	width: 100vw;
	height: auto;
	background-color: #EFF1F3;
	display: flex;
	padding: 40px 0 20px;
	background: hsl(210, 14%, 95%);
}

footer div {
  display: block;
}

footer h5 {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.1;
  display: block;
  margin: 0;
}

footer ul {
  list-style: none;
  padding: 0;
  font-weight: 300;
  line-height: 1.2;
  box-sizing: border-box;
  margin: 0;
  display: block;
}

footer ul li {
  display: inline-block;
  width: calc(50% - 4px);
  margin-bottom: 20px;
}

footer ul li a {
  font-size: 1.125rem;
  font-weight: 400;
}

footer ul li:last-child {
  float: right;
  text-indent: -4px;
}

a {
  color: hsl(256, 100%, 66%);
  text-decoration: none;
  transition: color .3s;
}

footer a:hover {
  color: hsl(265, 100%, 27%);
}

.footer-left,
.footer-middle,
.footer-right {
  padding-right: 70px;
  width: 33.33%;
}

.footer-left {
  font-size: 1.125rem;
  color: hsl(265, 100%, 27%);
}

.footer-left input {
  display: block;
  width: 100%;
  font-size: 1.5rem;
  padding: 14px 10px 12px;
  margin: 20px 0;
  font-family: Bariol, Arial, sans-serif;
  border: none;
  border-radius: 5px;
}

.footer-left input[type="email"]::placeholder {
  font-weight: 300;
  color: hsl(265, 100%, 27%);
  background: hsl(0, 0%, 100%);
}

.footer-left input[type="submit"] {
  font-weight: 600;
  text-align: center;
  color: hsl(0, 0%, 100%);
  cursor: pointer;
  background: hsl(256, 100%, 66%);
  transition: background-color .3s;
}

.footer-left input[type="submit"]:hover {
  background: hsl(265, 100%, 27%);
}

footer,
footer button,
footer input,
footer select,
footer textarea {
  color: hsl(265, 100%, 27%);
  font-size: 16px;
  line-height: 1.4;
}

.footer-container {
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  width: 100%;
  max-width: 1180px;
  margin: 0 auto;
}

.footer-right > .social-media ul {
  display: flex;
  list-style: none;
  font-weight: 300;
  line-height: 1.2;
}

.footer-right > .social-media ul li {
  display: block;
  margin-right: 20px;
  width: 22px;
  height: 22px;
}

.footer-right .social-media a {
  display: block;
  width: 22px;
  height: 22px;
  color: hsl(256, 100%, 66%);
  text-decoration: none;
  -webkit-transition: color .3s;
  transition: color .3s;
}

.social-media svg {
  width: 100%;
  height: 100%;
  width: 22px;
  height: 22px;
  height: auto;
  max-width: 100%;
  vertical-align: top;
  transform-origin: 50% 50% 0;
}

.social-media svg path {
  transition: fill .3s;
  fill: hsl(256, 100%, 66%);
}

.social-media a:hover path {
  fill: hsl(265, 100%, 27%);
}

.footer-right .social-media a:hover {
  color: hsl(265, 100%, 27%);
}

.footer-right .copyright {
  font-size: 1.125rem;
  color: hsl(265, 100%, 27%);
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* max 879px */

@media (max-width: 879px) {
	/*Header*/
	header {
		height: 80px;
	}
	/*Donut title in Header */
	.donut-title {
		width: 30%;
		margin-left: 30px;
	}
	.donut-logo > svg {
		width: 130px;
	}

	/*Nav menu*/
	.nav-main-menu {
		margin-right: 10px;
	}
	.nav-main-menu-item {
		display: none;
	}
	.sign-in {	
		display: block;
		font-weight: 800;
		font-size: 1.2rem;
		color: #fff;
		background-color: transparent!important;
		padding-top: 20px;
	}
	.hamburger-icon {
		display: block;
		padding-top: 17px;
		color: #fff;
		font-size: 2rem;
	}

	/*Description Section*/
	.description-container {
		display: flex;
		flex-direction: column;
		position: relative;
	}
	.description {
		width: 100%;
		padding: 20px;
	}
	.description-text {
		font-size: 2.5rem;
		width: 100%;
	}
	.description-img {
		padding-right: 80px;
		position: absolute;
		bottom: 0;
	}

	/*Sponsoring Company Logo section*/
	.logo-image {
	height: 40px;
	max-width: 100%;
	vertical-align: top;
	}

	/*Feature section*/
	.feature {
		height: auto;
	}
	.donut-cycle__chart_img svg {
		width: 70%;
		margin-left: 15%;
	}
	.donut-cycle__step-general {
		position: static;
		margin-top: 100px;
	}
	.donut-cycle__step {
		width: 70%;
		margin-left: 15%;
		margin-bottom: 50px;
	}
	.donut-cycle__step:nth-child(1) {
		position: static;
	}
	.donut-cycle__step:nth-child(2) {
		position: static;
	}
	.donut-cycle__step:nth-child(3) {
		position: static;
	}
	.donut-cycle__step:nth-child(4) {
		position: static;
	}
	
	/*Testimonial section*/
	.testimonials {
		display: flex;
		flex-direction: column;
		height: auto;
	}
	.testimonial-card {
		width: 100%;
		height: 400px;
	}
	.testimonial-person-info {
		padding-top: 20px;
	}


  footer,
  .footer-container {
    display: block;
  }

  .footer-container {
    margin: 0;
    max-width: none;
    width: auto;
  }
  .footer-left input[type="submit"] {
    margin-bottom: 40px;
  }

  .social-media {
    margin-top: 60px;
  }

  .footer-left,
  .footer-middle,
  .footer-right {
    width: 100%;
    padding-right: 0;
    clear: both;
  }
  
   .pre-footer {
    height: 102px;
    width: 100vw;
    margin-top: -35px;
    background-image: url("images/pre-footer-image.svg");
    background-repeat: repeat-x;
  }

}
